.custom-button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4d9dbe;
  border-radius: 4px;
  background: #4d9dbe;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.custom-button:focus {
  outline: none;
}

.custom-button:hover,
.custom-button:active {
  background: #007bff;
  border-color: #007bff;
}

.custom-button--inverse {
  background: transparent;
  color: #007bff;
}

.custom-button--inverse:hover,
.custom-button--inverse:active {
  color: white;
  background: #007bff;
}

.custom-button--danger {
  background: #830000;
  border-color: #830000;
}

.custom-button--danger:hover,
.custom-button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.custom-button:disabled,
.custom-button:hover:disabled,
.custom-button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.custom-button--small {
  font-size: 0.8rem;
}

.custom-button--big {
  font-size: 1.5rem;
}